
speed_model_Volo448_dispBrown
*.pt
turn_angle_model_finetune
dispersion_model_regnetx64
dispersion_model_regnetx64_finetuned
speed_model_Volo384_dispBrown_full
speed_model_Volo384_dispBrown_fullv2
speed_model_Volo384_dispBrown_fullv3
speed_model_Volo448_dispBrown_full
turn_angle_model_Volod1_384_dispBrown
turn_angle_model_Volod1_384_dispBrownv2
turn_angle_model_Volod1_384_dispBrownv3
turn_angle_model_Volod1_384_dispBrownv4
speed_model_Volo384_dispBrown_full_new_v1
speed_model_Volo224_dispBrown_patch_v1
speed_model_Volo224-448_dispBrown_patch_v1
*.tif
speed_model_TwinsSvtSmall_500px_opposite_dispBrown_4_21
speed_model_Volo224-448_dispBrown_patch_v2
speed_model_Volo224-448_dispBrown_patch_v3
speed_model_Volo384_dispBrown_4_21
speed_model_Volo384_dispBrown_4_21_v2
speed_model_volod1_224px_disp_4_21
speed_model_volod1_224px_dispBrown_4_21
speed_model_volod1_384px_disp_4_22
speed_model_volod1_patch_4x224px_dispBrown_4_21
*.jpg
*.csv
/models
