
speed_model_Volo448_dispBrown
*.pt
turn_angle_model_finetune
dispersion_model_regnetx64
dispersion_model_regnetx64_finetuned
speed_model_Volo384_dispBrown_full
speed_model_Volo384_dispBrown_fullv2
speed_model_Volo384_dispBrown_fullv3
speed_model_Volo448_dispBrown_full
turn_angle_model_Volod1_384_dispBrown
turn_angle_model_Volod1_384_dispBrownv2
